<nav
  class="flex-50 flex-row flex-justify flex-justify-content-between flex-align-items-center p-10 m-20 mb-0 d2"
>
  <ul class="list-primary">
    <li routerLink="/up" routerLinkActive="active">
      <a>Increment Couter</a>
    </li>
    <li routerLink="/down" routerLinkActive="active">
      <a>Decrement Counter</a>
    </li>
    <li routerLink="/reset" routerLinkActive="active">
      <a>Reset Counter</a>
    </li>
  </ul>
</nav>
<div class="container d-flex flex-row m-20 mt-0">
  <div class="pr-10 flex-30 flex-row align-self-center">
    <router-outlet></router-outlet>
  </div>

  <div
    [ngClass]="{
      _ten: counterService.getCounterObservable().getValue() === 10,
      _minus_ten: counterService.getCounterObservable().getValue() === -10
    }"
    class="counter pl-10 font-40 flex-40 flex-row text-align-center align-self-center"
  >
    <h3>
      Counter:
      <span class="counter _value">{{
        counterService.getCounterObservable().getValue()
      }}</span>
    </h3>
  </div>
  <div class="pl-10 font-40 flex-30 align-self-center text-align-end">
    Step:<span class="counter _value">{{
      counterService.getStepObservable().getValue()
    }}</span>
  </div>
</div>
