@import "~bootstrap-icons/font/bootstrap-icons.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Roboto", sans-serif;
  --primary: #3498db;
  --secondary: #5cbbae;
  --validation: #4caf50;
  --accent: #e74c3c;
  --success: #27ae60;
  --active: #7ea509;
  --info: #bceb2f;
  --lightgray: #d4e1e1;
  --text-regular: #2d3436;
}

body {
  font-family: var(--font-family);
  color: var(--text-regular);
}

nav {
  background: var(--primary);
  color: white;
  .logo {
    font-size: 20px;
    font-weight: bold;
  }
}

ul {
  list-style: none;
  li {
    padding: 24px 20px;
    display: inline-block;
    width: 33.3%;
    text-align: center;
    &:hover {
      background: var(--secondary);
    }
    transition: background-color 0.4s;
    a {
      padding: 20px 20px;
      font-weight: bold;
    }
    // Style the active link
    &.active {
      background-color: var(--info);
      font-size: 20px;
      color: black;
      border: 1px solid var(--lightgray);
      border-radius: 15px;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}

// layout
.container {
  display: block;
  margin: auto;
  padding: 20px;
  height: 500px;
  background-color: var(--lightgray);
}

.d-flex {
  display: flex;
}

// util
.d-flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex-justify-content-between {
  justify-content: space-between;
}
.flex-align-items-center {
  align-items: center;
}

.flex-40 {
  flex: 0 1 40%;
}
.flex-30 {
  flex: 0 1 30%;
}
.text-align-center {
  text-align: center;
}
.text-align-end {
  text-align: end;
}
.align-self-center {
  align-self: center;
}
.p-10 {
  padding: 10px;
}
.pr-10 {
  padding-right: 10px;
}
.pl-10 {
  padding-left: 10px;
}
.m-20 {
  margin: 20px;
}
.mt-100 {
  margin-top: 100px;
}
.mt-0 {
  margin-top: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.font-40 {
  font-size: 40px;
}

// theme
.btn {
  padding: 10px 15px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  height: 55px;
  font-weight: 700;
  cursor: pointer;
  &-primary {
    background-color: var(--primary);
    &:hover {
      background-color: var(--secondary);
    }
    transition: background-color 0.4s;
  }
}
input {
  background-color: --lightgray;
  height: 35px;
  border: 3;
  border-radius: 3px;
}

//specific style
.counter {
  &._ten {
    background-color: var(--accent);
  }
  &._minus_ten {
    background-color: var(--success);
  }
  &._value {
    color: var(--active);
  }
}

.btn {
  &.reset {
    height: auto;
  }
}

input[type="date"] {
  border: 1px solid var(--validation);
  border-radius: 5px;
  padding: 20px;
  font-size: 16px;
}

.toast {
  color: green;
  font-weight: bold;
  margin-left: 10px;
  align-self: center;
}

//debug
.d1 {
  border: 1px solid red;
}
.d2 {
  border: 2px solid green;
}
